In [17]:
import pandas as pd

# Sample data
data = {'species': [' Maple (10 years) ', 'oak', 'Pine(3 years)', 'maple ', ' Oak (1.5 Years)']}
df = pd.DataFrame(data)

# Cleaning the 'species' column
df['species'] = df['species'].str.lower().str.strip()
print(df)

            species
0  maple (10 years)
1               oak
2     pine(3 years)
3             maple
4   oak (1.5 years)

In [11]:
type(data)

dict

In [13]:
print(data)

{'species': [' Maple (10 years) ', 'oak', 'Pine(3 years)', 'maple ', ' Oak (1.5 Years)']}

In [15]:
type(df)

pandas.core.frame.DataFrame

In [21]:
# Extracting age using regular expression
df['age'] = df['species'].str.extract(r'(\d+\.\d+|\d+)').fillna("Unknown")
print(df)

            species      age
0  maple (10 years)       10
1               oak  Unknown
2     pine(3 years)        3
3             maple  Unknown
4   oak (1.5 years)      1.5

In [23]:
#Scenario: After cleaning the dataset, 
#we want to know how many unique species are recorded and their respective counts.

#Question: Aggregate the data to count the number of occurrences of each unique species.
# Clean and standardise species names
df['species'] = df['species'].str.extract('([a-zA-Z]+)', expand=False).fillna('').str.strip().str.lower()

# Counting occurrences of each species
species_counts = df['species'].value_counts()
print(species_counts)

species
maple    2
oak      2
pine     1
Name: count, dtype: int64

In [25]:
#Scenario: The park authorities are interested in grouping species by their first letter to design different zones in the park.

#Question: Create a new column 'zone' based on the first letter of each species name and group the DataFrame by this new column.
# Creating a 'zone' column based on the first letter
df['zone'] = df['species'].str[0]
grouped_data = df.groupby('zone').size()
print(grouped_data)

zone
m    2
o    2
p    1
dtype: int64